.headerContainer {

}


.logo {
  cursor: default;
  text-align: center;
  font-size: 35px;
  background-color: white;
  color: rgb(144, 196, 165);
  text-align: center;
  vertical-align: middle;
  margin: 20px 0 10px 0;
  font-size: 60px;
  line-height: 60px;
}

.joinButton {
  /* margin: 0 20px 20px 0; */
  
}

.joinButtonContainer {
  
}

.login {
  cursor: default;
  position: absolute;
  top: 25px;
  right: 25px;
  display: inline-block;
  font-size: 10px;
  font: Helvetica;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 13px;
  border: rgba(0, 0, 0, 0.158) solid 1px;
}

.login:hover {
  background-color:  rgb(144, 196, 165);
}