/* Dashboard CSS */

.column {
	font-weight: lighter;
	text-align: center;
}

.welcome {
	padding-top: 15px;
	text-align: center;
}

.photo {
	margin: 25px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-radius: 50%;
	width: 325px;
	height: 325px;
}

.userranking {
	padding-bottom: 5px;
	text-align: center;
}

.countdown {
	padding-bottom: 10px;
	text-align: center;
}

progress {
	height: 1em;
	width: 15em;
	vertical-align: 0.8em;
	border-radius: 8px;
}

progress::-webkit-progress-bar {
	background-color: #b8b8b8;
	border-radius: 8px;
}

progress::-webkit-progress-value {
	background-color: rgb(188, 209, 197);
	border-radius: 8px;
}
