.dashboardContainer {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: auto;
  margin: auto;
}

.profileContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  width: 25%;
  padding: 25px;
  margin: 25px;
  border-style: solid;
}

.photoContainer {
  display: flex;
  height: 33%;
  min-height: 250px;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  border-style: solid;
}

.bioContainer {
  display: flex;
  min-height: 500px;
  min-width: 250px;
  height: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-style: solid;
}

.matchContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 25px 5px;
  padding: 25px;
  border-style: solid;
}

.myMatchContainer {
  display: flex;
  height: 33%;
  min-height: 250px;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  border-style: solid;
}

.myFollowingContainer {
  display: flex;
  min-height: 500px;
  min-width: 250px;
  height: 60%;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  border-style: solid;
}

.leaderboardContainer {
  display: flex;
  width: 25%;
  margin: 25px;
  justify-content: center;
  align-items: center;
  border-style: solid;
}
