.myMatchPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px 40px 40px;
  margin: auto;
}

.chatroom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 530px;
  width: 600px;
  padding-left: 40px;
  margin-bottom: 100px;
  background-color:whitesmoke;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
}

.noMatch {
  margin: 100px;
  background-color:whitesmoke;
}

.pendingContainer {
  float: right;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 400px;
  padding-left: 40px;
  margin-bottom: 100px;
  border-style: solid;
  background-color:whitesmoke;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
}

.profileHolder {
  float: left;
}

.pending {
  display: inline-block;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  padding: 50px 300px 0px 200px;
}

.warningBackdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}

.warningBox {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 9999;
  background-color:whitesmoke;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
}