.next {
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.buttons > * {
  margin: 15px;
}

.warningBackdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.514);
}

.warningBox {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 9999;
  background-color:whitesmoke;
  font-size: 16px;
  position: relative;
  text-align: center;
  font-weight: 120;
}


.warningText {
  padding: 20px;
}

.nomatchwrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  grid-template-areas: 
  "header"
  "nomatch";
}

.prompt {
  font-size: 30px;
  position: relative;
  text-align: center;
  font-weight: 120;
}

.noMatch {
  margin: 30px;
  padding: 30px;
  background-color:whitesmoke;
  text-align: center;
}

.noMatchText {
  padding: 30px;
  font-size: 20px;
  font-weight: 70;
}

.header {
  grid-area: header;
  position: relative;
}

.message {
  grid-area: message;
  position: relative;
  height: 80px;
  font-size: 28px;
  color: rgb(19, 37, 27);
  font-weight: 300;
  text-align: center;
  padding: 10px;
}

.bio {
  margin: 0 10px;
  grid-area: bio;
  position: relative;
}

.buttons {
  grid-area: buttons;
  position: relative;
}

.mainimg {
  margin-left: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  max-width: 120%;
  max-height: 120%;
  transform: translateX(-50%);
}

.mainphoto {
  grid-area: mainphoto;
  position: relative;
  overflow: hidden;
}

.pendingwrapper {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 60px 80px 300px auto 200px;
  grid-template-columns: 100vw;
  height: auto;
  width: auto;
  grid-template-areas: 
  "header"
  "message"
  "mainphoto"
  "bio"
  "buttons";
}

.tags {
  display: inline-block;
}

.tag {
  font-size: 13px;
  font-weight: 80;
  margin: 5px;
  padding: 5px;
  width: auto;
  float: left;
  background-color: rgb(188, 209, 197);
  border-radius: 2px;
  font-size: 10px;
}

.name {
  font-size: 20px;
  font-weight: 90;
  margin: 5px;
}

.age {
  font-size: 13px;
  font-weight: 80;
  margin-left:5px;
}


.biography {
  font-size: 15px;
  font-weight: 120;
  margin: 5px;
  min-width: 200px;
}

@media (min-width:450px) {

  .smallimg {
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
  }
  

  .smallerphotosgrid {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: 
    "img1 img2 img3 img4";
  }
  
  .img1,
  .img2,
  .img3,
  .img4 {
    max-width: 130%;
    max-height: 130%;
    min-width: 100%;
    min-height: 100%;
    /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
  }
  
  .img1 {
    grid-area: img1;
    position: relative;
    overflow: hidden;
  }
  .img2 {
    grid-area: img2;
    position: relative;
    overflow: hidden;
  }
  .img3 {
    grid-area: img3;
    position: relative;
    overflow: hidden;
  }
  .img4 {
    grid-area: img4;
    position: relative;
    overflow: hidden;
  }

  .bio {
    margin: 0 16px;
  }

  .warningBox {
    width: 400px;
    height: 270px;
    margin-top: -200px;
    margin-left: -200px;
    font-size: 25px;
  }
  
  .warningText {
    padding: 40px;
  }
  .noMatch {
    margin: 70px;
    padding: 70px;
  }
  .pendingwrapper {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 60px 80px 400px 90px 200px;
    grid-template-columns: 100vw;
    height: auto;
    width: auto;
    grid-template-areas: 
    "header"
    "message"
    "mainphoto"
    "bio"
    "buttons";
  }
}

@media (min-width: 600px) {

  .smallerphotosgrid {
    grid-template-rows: 70px;
  }

  .message {
    padding: 15px;
    font-size: 35px;
  }

  .mainphoto {
    margin: 0px 5px 4px 20px; 
  }


  .smallphotos {
    grid-area: smallphotos;
    position: relative;
    margin: 0 30px;
  }

  .pendingwrapper {
    display: grid;
    grid-template-rows: auto 100px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: auto;
    grid-template-areas: 
    "header header"
    "message message"
    "mainphoto smallphotos"
    "mainphoto bio"
    "buttons buttons";
  }

  .noMatch {
    margin: 100px;
    padding: 100px;
  }
  
  .noMatchText {
    padding: 30px;
    font-size: 30px;
    font-weight: 70;
  }
  .bio {
    margin: 20px;
  }

  .name {
    font-size: 40px;
    font-weight: 90;
    margin: 0px 25px 10px 15px;
  }

  .age {
    font-size: 15px;
    font-weight: 80;
    margin: 20px;
  }

  .tag {
    font-size: 15px;
    font-weight: 80;
    margin: 10px;
    padding: 10px;
  }

  .biography {
    font-size: 15px;
    font-weight: 120;
    margin: 20px;
    min-width: 200px;
  }
}

@media (min-width: 900px) {
  .mainphoto {
    margin-left: 30px;
  }

  .bio {
    margin-right: 60px;
  }

  .smallerphotosgrid {
    grid-gap: 15px;
    grid-template-rows: 100px;
  }

  .smallphotos {
    margin: 0 60px 0 30px;
  }
}


@media (min-width: 1000px) {
  .smallerphotosgrid {
    grid-gap: 20px;
    grid-template-rows: 120px;
  }
}