.myMatchPage {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 65px 0px 65px 65px;
  margin: auto;
  background-color:whitesmoke;
}

.chatroom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  min-width: 750px;
  padding: 65px;
  border-style: solid;
  background-color:whitesmoke;
}

.noMatch {
  margin: 100px;
  background-color:whitesmoke;
}