.body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 65px 0px 65px 65px;
  margin: auto;
}

.basicMargin {
  margin: 10px;
}

.nextBtn {
  display: flex;
  max-height: 75px;
  max-width: 150px;
  margin: 10px;
  justify-content: center;
  align-self: right flex-end;
  border-style: solid;
}

.tag {
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.tag:hover {
  background-color: brown;
}

.tag:active {
  background-color: rgb(184, 80, 80);
}

.selected {
  background-color: black;
  color: white;
  border: solid red 1px;
  margin: 3px;
  padding: 2px;
}

.selected:hover {
  background-color: brown;
}

.selected:active {
  background-color: rgb(184, 80, 80);
}