.body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px 40px 40px;
  margin-top: 40px;
  margin-left: 220px;
  margin-right: 140px;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
  background-color:rgba(245, 245, 245, 0.877);
}

.basicMargin {
  margin: 10px;
}

.targetBox {
  width: 500px;
  height: 400px;
  float: left;
  overflow: hidden;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
  margin: 5px;
  background-color: whitesmoke;
}

.target {
  display: block;
  height: 400px;
  margin: auto;
}

.smallImageBox{
  width: 100px;
  height:75px;
  float: left;
  overflow: hidden;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
  margin: 5px;
}

.smallImage {
  height: 75px;
  display: block;
  margin: auto;
}

.photoPage {
  width: 600px;
}

.smallImageHolder{
  margin-left: 15px;
}

.star {
  width: 40px;
}

.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 25px;
  overflow-x: hidden;
  padding: 8px 0;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  background-color:rgba(245, 245, 245, 0.877);
  font-size: 20px;

}

.navbutton {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}


.navbutton:hover {
  color: pink;
  cursor: default;
}