.avatar {
  border-radius: 50%;
  margin-top: 5px;
  height: 30px;
  width: 30px;
  } 


@media (min-width: 600px) {
  .avatar {
  margin-top: 14%;
  width: 72%;
  height: 72%;
  border-radius: 50%;
  } 

  .avatar:hover {
    opacity: .5;
  } 
}