.profileContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  padding: 10px;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
  background-color:rgb(245, 245, 245);
}

.photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: solid rgb(240, 176, 176) 1px;
}

.userInfoContainer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
}
