.matchMakerContainer {
  display: flex;
  height: 120%;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 65px 65px 0px 65px;
  margin: 30px;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  background-color:rgba(245, 245, 245, 0.877);
}

.decisionContainer {
  display: flex;
  height: 80%;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(245, 245, 245);
}

.approvalContainer {
  display: flex;
  width: 26%;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color:rgb(245, 245, 245);
}

.commentsContainer {
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
  height: 90px;
  position: absolute;
  bottom: 40px;
  width: 200px;
  border-radius: 2px;
  border: solid rgb(240, 176, 176) 1px;  
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: rgb(241, 234, 234);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.commentsContainer:hover {
  background-color: pink;
  border: solid rgb(17, 17, 17) 1px;
}


.comments {
  z-index: 7;
  min-height: 500px;
  min-width: 800px;
  margin: 10px;
  padding: 10px;
  position: absolute;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  background-color:rgb(245, 245, 245);
}

.textbox {
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  background-color:rgba(245, 245, 245, 0.877);
  width: 330px;
  height: 200px;
  margin: 20px;
  float: right;  
}

textarea:focus {
  outline:0;
}

textarea {
  font-size: 20px;
}

.commentsFeed {
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  background-color:rgba(245, 245, 245, 0.877);
  width: 500px;
  height: 440px;
  margin: 20px;
  float: left;
}