.header {
  grid-area: header;
  position: relative;
}

.user1main {
  grid-area: user1main;
  position: relative;
  overflow: hidden;
  margin-top: 15px
}

.user1bio {
  grid-area: user1bio;
  position: relative;
  margin-top: 15px
}

.user2main {
  grid-area: user2main;
  position: relative;
  overflow: hidden;
  margin: 6px 0 15px 0;
}

.user2bio {
  grid-area: user2bio;
  position: relative;
  margin: 6px 0 15px 0;
}
.decision {
  grid-area: decision;
  position: relative;
}
.chatroom {
  grid-area: chatroom;
  position: relative;
}
.next {
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.mainimg {
  min-width: 85%;
  max-width: 130%;
  min-height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}


.wrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-rows: auto 2fr 50px 2fr 50px 1fr 100vh;
  height: 300vh;
  grid-template-areas: 
  "header"
  "user1main"
  "user1bio"
  "user2main"
  "user2bio"
  "decision"
  "chatroom";
}

.tags {
  display: inline-block;
}

.tag {
  font-size: 13px;
  font-weight: 80;
  margin: 5px;
  padding: 5px;
  width: auto;
  float: left;
  background-color: rgb(188, 209, 197);
  border-radius: 2px;
  font-size: 10px;
}

.name {
  font-size: 20px;
  font-weight: 90;
  margin: 5px;
}

.age {
  font-size: 13px;
  font-weight: 80;
  margin-left:5px;
}


.biography {
  font-size: 15px;
  font-weight: 120;
  margin: 5px;
  min-width: 200px;
}

@media (min-width:600px) {
  
  .smallerphotosgrid {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
    height: 100%;
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    "img4";
  }

  
  .img1 {
    grid-area: img1;
    position: relative;
    overflow: hidden;
  }
  .img2 {
    grid-area: img2;
    position: relative;
    overflow: hidden;
  }
  .img3 {
    grid-area: img3;
    position: relative;
    overflow: hidden;
  }
  .img4 {
    grid-area: img4;
    position: relative;
    overflow: hidden;
  }
  
  .img1,
  .img2,
  .img3,
  .img4 {
    max-width: 300%;
    max-height: 300%;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    overflow: hidden;
  }
  
  
  .user1small {
    grid-area: user1small;
    position: relative;
    margin: 15px 0 0 15px;
    overflow: hidden;
  }

  .user2small {
    overflow: hidden;
    grid-area: user2small;
    position: relative;
    margin: 6px 0 15px 15px;
  }

  .rating {
    font-size: 20px;
  }

  .wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: auto 370px 1fr 1fr 1fr 3fr;
    grid-template-columns: 50vw 50vw;
    height: 150vh;
    grid-template-areas: 
    "header header"
    "user1main user2main"
    "user1small user2small"
    "user1bio user2bio"
    "decision decision"
    "chatroom chatroom";
  }

  .bio {
    margin: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.089);
  }

  .name {
    font-size: 35px;
    font-weight: 90;
    margin: 0px 25px 10px 15px;
  }

  .age {
    font-size: 15px;
    font-weight: 80;
    margin: 10px;
  }

  .tag {
    font-size: 12px;
    font-weight: 80;
    margin: 7px;
    padding: 7px;
  }

  .biography {
    font-size: 15px;
    font-weight: 120;
    margin: 20px;
    min-width: 250px;
  }
}

@media (min-width: 900px) {
  .wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-rows: auto 2fr 1fr 3fr;
    grid-template-columns: 1fr 4fr 2fr 4fr;
    height: 100vh;
    grid-template-areas: 
    "header header header header"
    "user1small user1main user1bio decision"
    "user1small user1main user1bio chatroom"
    "user2small user2main user2bio chatroom"
  }


  .decision {
    margin: 30px;
  }
  
  .mainimg {
  }

}
  @media (min-width: 1200px) {
  .bio {
    margin: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.089);
  }

  .name {
    font-size: 60px;
    font-weight: 90;
    margin: 0px 25px 10px 15px;
  }

  .age {
    font-size: 20px;
    font-weight: 80;
    margin: 10px;
  }

  .tag {
    font-size: 15px;
    font-weight: 80;
    margin: 20px;
    padding: 10px;
  }

  .biography {
    font-size: 20px;
    font-weight: 120;
    margin: 20px;
    min-width: 250px;
  }

  .rating {
    font-size: 60px;
    position: absolute;
    padding-bottom: 10px;
    top: 20px;
    font-weight: 120;
    color: rgb(19, 37, 27);
  }
  
}
