.matchMakerContainer {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 65px 65px 0px 65px;
  margin: auto;
}

.decisionContainer {
  display: flex;
  height: 80%;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.approvalContainer {
  display: flex;
  width: 26%;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.commentsContainer {
  display: flex;
  height: 20%;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;
  align-items: center;
  border-style: solid;
  margin-bottom: 0px;
}
