.defaultButton {
  background-color: #555555;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  padding: 14px 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.defaultButton:hover {
  background-color: #e7e7e7;
  color: black;
}

.tag {
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.tag:hover {
  background-color: brown;
}

.tag:active {
  background-color: rgb(184, 80, 80);
}

.selected {
  background-color: black;
  color: white;
  border: solid red 1px;
  margin: 3px;
  padding: 2px;
}

.selected:hover {
  background-color: brown;
}

.selected:active {
  background-color: rgb(184, 80, 80);
}

.next, .disabled{
  position: fixed;
  z-index: 1;
  top: 200px;
  right: 150px;
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(236, 61, 149);
	border-bottom: 25px solid transparent;
}

.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.next:hover {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(221, 119, 119);
	border-bottom: 25px solid transparent;
}

.next:active {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(24, 255, 109);
	border-bottom: 25px solid transparent;
}

.primaryTrue, .delete {
  background-color: lightgrey;
  display: flex;
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.delete:hover, .primaryTrue:hover {
  display: flex;
  background-color: yellowgreen;
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.primaryTrue:active, .delete:active {
  background-color: pink;
  display: flex;
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.greyStar,
.yellowStar {
  float: right;
  border: 1px black solid;
  background-color: darkslategrey;
}

.greyStar:before {
  width: 20px;
  content: "\2605";
  color: lightgrey;
}


.greyStar:hover:before {
  content: "\2605";
  color: gold;
}
.yellowStar:before {
  content: "\2605";
  color: gold;
}

.yellowStar:hover:before {
  color: lightgrey;
}
