.defaultButton {
  background-color: rgb(241, 234, 234);
  color: rgb(3, 3, 3);
  font-size: 16px;
  padding: 14px 40px;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  margin: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  width: 30px;
}

.defaultButton:hover {
  background-color: pink;
  border: solid rgb(3, 3, 3) 1px;
}

.tag {
  display: inline-block;
  background-color: rgb(241, 234, 234);
  color: rgb(3, 3, 3);
  font-size: 10px;
  padding: 7px;
  width: 50px;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  margin: 5px;
}

.tag:hover {
  background-color: pink;
  border: solid rgb(3, 3, 3) 1px;
}

.tag:active {
  background-color: rgb(226, 126, 126);
}

.selected {
  display: inline-block;
  background-color: pink;
  color: rgb(3, 3, 3);
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 2px;
  font-size: 10px;
  padding: 7px;
  margin: 5px;
  width: 50px;
}

.selected:hover {
  background-color: pink;
  border: solid rgb(3, 3, 3) 1px;
}

.selected:active {
  background-color: rgb(255, 166, 166);
}

.next, .disabled{
  position: fixed;
  z-index: 1;
  top: 200px;
  right: 150px;
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(236, 61, 149);
	border-bottom: 25px solid transparent;
}

.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.next:hover {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(221, 119, 119);
	border-bottom: 25px solid transparent;
}

.next:active {
  width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid rgb(24, 255, 109);
	border-bottom: 25px solid transparent;
}

.primaryTrue, .delete {
  background-color: lightgrey;
  display: flex;
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.delete:hover, .primaryTrue:hover {
  display: flex;
  background-color: yellowgreen;
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.primaryTrue:active, .delete:active {
  background-color: pink;
  display: flex;
  border: solid black 1px;
  margin: 3px;
  padding: 2px;
}

.greyStar,
.yellowStar {
  float: right;
  border: 1px black solid;
  background-color: darkslategrey;
}

.greyStar:before {
  width: 20px;
  content: "\2605";
  color: lightgrey;
}


.greyStar:hover:before {
  content: "\2605";
  color: gold;
}
.yellowStar:before {
  content: "\2605";
  color: gold;
}

.yellowStar:hover:before {
  color: lightgrey;
}
