.ratingContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 65px 0px 65px 65px;
  margin: auto;
}

.profileContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.ratingScaleContainer {
  display: flex;
  min-height: 50px;
  min-width: 350px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-style: solid;
}

.userInfoContainer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 150px;
  min-width: 350px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-style: solid;
}

.nextBtn {
  display: flex;
  max-height: 75px;
  max-width: 150px;
  margin: 0px;
  justify-content: center;
  align-self: center flex-end;
  border-style: solid;
}
