.header {
  grid-area: header;
  position: relative;
}

.mainphoto {
  grid-area: mainphoto;
  position: relative;
  margin-left: 3px;
}

.smallerphotos {
  grid-area: smallerphotos;
  position: relative;
}

.smallerphotosgrid {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: 
  "img1 img2 img3 img4";
}

.img1 {
  grid-area: img1;
  position: relative;
  overflow: hidden;
}
.img2 {
  grid-area: img2;
  position: relative;
  overflow: hidden;
}
.img3 {
  grid-area: img3;
  position: relative;
  overflow: hidden;
}
.img4 {
  grid-area: img4;
  position: relative;
  overflow: hidden;
}

.bio {
  grid-area: bio;
  position: relative;
}

.slider {
  grid-area: slider;
  width: 100%;
  height: 100%;
  position: relative;
}

.mainimg {
  height: 100%;
  width: 100%;
}

.img1,
.img2,
.img3,
.img4 {
  height: 120px;
  width: 100%;
}

.sliderinput {
  width: 80%;
  display: block;
  margin : auto auto;
}

.footer {
  height: 200px;
  background-color: rgb(233, 233, 233);
  color:rgb(4, 185, 95);
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}

.wrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  height: 100vh;
  grid-template-areas: 
  "header"
  "mainphoto"
  "smallerphotos"
  "bio"
  "slider";
}

.tags {
  display: inline-block;
}

.tag {
  width: auto;
  float: left;
  background-color: rgb(188, 209, 197);
  border-radius: 2px;
  padding: 10px;
}


@media (min-width: 600px) {
  .wrapper {
    grid-template-rows: auto 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "mainphoto bio"
    "mainphoto slider"
    "smallerphotos slider"
  }

  .smallerphotos {
    margin: 0px 5px 20px 20px;
  }
  
  .mainphoto {
    margin: 20px 5px 4px 20px; 
  }
  
  .bio {
    margin: 20px 20px 5px 5px; 
    padding: 30px;
    padding-left: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.308);
  }

  .name {
    font-size: 60px;
    font-weight: 60;
    margin: 0px 25px 10px 15px;
  }

  .age {
    font-size: 20px;
    font-weight: 80;
    margin: 20px;
  }

  .tag {
    font-size: 15px;
    font-weight: 80;
    margin: 20px;
  }

  .biography {
    font-size: 20px;
    font-weight: 120;
    margin: 20px;
    min-width: 400px;
  }
}
