.side {
  grid-area: side;
}
.column1 {
  grid-area: column1;
}
.column2 {
  grid-area: column2;
}
.column3 {
  grid-area: column3;
}

.column4 {
  grid-area: column4;
}
.avatar {
  grid-area: avatar;
}

.side,
.column1,
.column2,
.column3,
.logo,
.column4,
.avatar {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 12px;
  color: grey;
  background-color: rgb(51, 51, 51);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.logo {
  z-index: 2;
  grid-area: logo;
  font-size: 30px;
  color: rgb(4, 185, 95);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.side:hover,
.column1:hover,
.column2:hover,
.logo:hover,
.column3:hover,
.column4:hover,
.avatar {
  color: rgb(167, 255, 2);
}
.wrapper {
  display: grid;
  grid-template-areas:
    'side logo logo avatar'
    'column1 column2 column3 column4';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 30px;
}

.dropdown-container {
  position: absolute;
  top: 60px;
  right: 0;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dropdown-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100px;
  right: 0;
  z-index: 5;
  background-color: rgb(46, 46, 46);
  color: gray;
  font-size: 12px;
}

li:hover {
  cursor: pointer;
  color: rgb(167, 255, 2);
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-areas: 'side column1 column2 logo column3 column4 avatar';
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 80px;
    grid-template-rows: 80px;
  }
  .side,
  .logo,
  .column1,
  .column2,
  .column3,
  .column4,
  .avatar {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
  }

  .logo {
    color: rgb(4, 185, 95);
    font-size: 50px;
    overflow: visible;
  }

  .dropdown-container {
    position: absolute;
    top: 80px;
    right: 0;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .dropdown-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 100px;
    right: 0;
    z-index: 5;
    background-color: rgb(46, 46, 46);
    color: gray;
    font-size: 12px;
  }

  .avatar:hover li {
    display: flex;
  }

  li:hover {
    cursor: pointer;
    color: rgb(167, 255, 2);
  }
}
