.headerContainer {
  display: flex;
  margin: 0px;
  padding: 0px;
  /* flex-wrap: nowrap; */
  flex-flow: row nowrap;
}

.navContainer {
  display: flex;
  align-content: flex-end;
  margin: 0px;
  padding: 0px;
}

.navButton {
  padding: 15px;
  flex-direction: row;
  flex-shrink: 0;
  margin: auto;
  border-left-style: solid;
  border-left-width: 3px;
}
