.headerContainer {
  display: flex;
  margin: 0px;
  padding: 0px;
  /* flex-wrap: nowrap; */
  flex-flow: row nowrap;
  background-color:rgb(245, 245, 245);
}

.navContainer {
  display: flex;
  align-content: flex-end;
  margin: 0px;
  padding: 0px;
}

.navButton {
  padding: 20px;
  margin: auto;
  border-left: solid rgb(240, 176, 176) 2px;
  font-weight: normal;
  font-size: 20px;
}

.navButton:hover {
  background-color: pink;
}
