.mainPhotoContainer {
  position: relative;
  text-align: center;
  /* color: white; */
}
.mainPhoto {
  display: block;
  height: auto;
  width: 100%;
}

.mainCaption {
  font: Helvetica;
  font-size: 30px;
  letter-spacing: 1px;
  
  text-align: center;
  vertical-align: middle;
  /* color: white; */
  font-weight: lighter;
  position: relative;
  top: 10px;
  
  transform: translateY(-50%); 
  
  /* transform: translate(-50%, -50%); */
  
}


/* 1280 x 853 */