.followsContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 176px 177px;
	grid-template-areas: 'starredContainer' 'resultsContainer';
	flex-flow: column nowrap;
	padding: 17px 4px 3px 4px;
	margin: 25px 15px 25px 25px;
	background-color: rgb(245, 245, 245);
	justify-content: space-between;
	align-items: center;
	border: solid rgb(188, 209, 197) 1px;
	height: 100%;
	width: 87%;
	position: relative;
}

.starredContainer {
	margin: 0px 0px 0 0px;
	padding: 1px 0px 0px -1px;
	width: 350px;
	height: 175px;
	font-weight: lighter;
	font-family: inherit;
}
.resultsContainer {
	display: flex;
	width: 350px;
	height: 176px;
	justify-content: center;
	align-items: center;
	margin: 0px 28px 28px -14px;
}

.avatar {
	object-fit: cover;
	border-radius: 77%;
	width: 55%;
	height: 81%;
	padding-top: 5px;
}

.followItem {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px;
	grid-template-areas: 'user1, decision, yellowstar, user2';
	width: 320px;
	height: 93px;
	/* border-bottom: solid rgb(240, 176, 176) 1px;
	border-radius: 3px; */
}

.h3 {
	float: right;
	width: 55px;
	height: 13px;
	padding: 10px;
	max-width: 130px;
	font-weight: normal;
	font-size: 12px;
}

.user1 {
	float: left;
}

.user2 {
	float: right;
}

.decision {
	max-width: 130px;
	padding: 14px;
	float: right;
	font-weight: normal;
	font-size: 12px;
}
