.leaderboardContainer {
  display: flex;
  min-height: 500px;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 65px;
  padding: 65px;
  border: solid rgb(240, 176, 176) 1px;
  border-radius: 3px;
  background-color:rgb(245, 245, 245);
}
